@model House
<h1>Update @Model.LotNum</h1>

<div style="display: block"
    <a href="/House/EditLotNum/">Edit Lot Number</a>
    </div>

<div style="display: block"
    <a href="/OrderFull/EditHouseDetails/">Edit House Details</a>
    <p>Measure Info, Install Info, Invoice Number, Builder, Address, Model, Sub-Division, Hardware Color, Stain Color</p>
    </div>

<div style="display: block"
    <a href="/Rail/Index/">Add/Edit Lines of Rail</a>
    </div>

<div style="display: block"
    <a href="/OrderFull/MillWork/">Add/Edit Newels/Rosettes/Balusters Count</a>
    </div>

<div style="display: block"
    <a href="/Mantle/Index">Add/Edit Mantles</a>
    </div>

<div style="display: block"
    <a href="/TubFront/Index/">Add/Edit Tub Fronts</a>
    </div>

<div style="display: block"
    <a href="/Niche/Index/">Add/Edit Niches Count</a>
    </div>

<div style="display: block"
    <a href="/WallAcess/Index/">Add/Edit Wall Accesses Count</a>
    </div>
